// BOTTON
.btn {
	font-size: 1.2rem;
	font-family: $font-family-default;
	font-weight: 400;
	text-transform: uppercase;
	@include box-shadow(none);
	cursor: pointer;
	i {
		@include rtl-margin-right(7px);
		font-size: 1.3rem;
		&.material-icons {
			font-size: 1.5rem;
			vertical-align: middle;
		}
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
	&:hover, &:focus {
		background-color: $theme-color-primary;
		color: #fff;
		border: 1px solid $theme-color-primary;
		@include box-shadow(none);
	}
	&.btn-primary {
		font-family: $font-family-primary;
		font-size: 1.2rem;
		font-weight: 400;
		padding: 9px 32px;
		@include border-radius(17px);
		background: #222;
		border-color: #222;
		color: #fff;
		&:hover, &:focus {
			color: #fff;
			background: $theme-color-default;
			border-color: $theme-color-default;
		}
	}
	&.btn-default {
		padding: 9px 16px;
		color: #fff;
		background: $theme-color-default;
		border-color: $theme-color-default;
		&:hover, &:focus {
			background: $button-hover;
			border-color: $button-hover;
		}
	}
	&.btn-secondary {
		font-family: $font-family-primary;
		font-size: 1.2rem;
		font-weight: 400;
		padding: 10px 16px;
		@include border-radius(3px);
		background: $theme-color-default;
		border-color: $theme-color-default;
		color: #fff;
		&:hover, &:focus {
			color: #fff;
			background: $button-hover;
			border-color: $button-hover;
		}
	}
}