#contact{
  .footer-one{
    .footer-map{
      display: none;
    }
  }
  .page-content{
    .page_title{
      font-family: $font-family-primary;
      font-size: 22px;
      font-weight: 700;
      color: $gray-dark;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
  }
  #main{
    margin-bottom: 6rem;
  }
}
.contact-rich {
  margin-bottom: rem(37px);
  h4 {
    text-transform: uppercase;
    color: #eaeaea;
    margin-bottom: rem(32px);
  }
  .block {
    height: auto;
    overflow: hidden;
    .icon {
      background: $theme-color-default;
      color: #fff;
      @include rtl-float-left();
      @include square(24px);
      text-align: center;
      line-height: 28px;
      @include border-radius(2px);
      @include rtl-margin-right(20px);
      margin-top: 4px;
      i {
        font-size: rem(14px);
      }
    }
    .data {
      width: auto;
      overflow: hidden;
      >div{
        line-height: 24px;
        font-size: 1.2rem;
        color: $text-color;
        b{
          text-transform: uppercase;
          font-size: 1.2rem;
          color: $text-color;
        }
      }
    }
  }
}
.contact-form {
  color: #ccc;
  h3 {
    text-transform: uppercase;
    color: #eaeaea;
  }
  .form-fields {
    .row {
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 0;
    }
    .col-md-6, .col-md-12 {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
    label {
      margin-bottom: 0;
    }
    .form-control {
      border-color: #ececec;
      min-height: 42px;
      background-color: #ececec;
      background-image: url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D");
      font-size: 1.1rem;
      color: #909090;
      &:hover, &:focus {
        border: 1px solid $theme-color-primary;
        background-color: #fff;
        @include transition(all 0.35s ease 0.1s);
      }
      @include placeholder {
        color: #909090;
        text-transform: uppercase;
      }
    }

    .btn {
      &.btn-default {
        padding: 6px 16px;
      }
      .buttonText {
        line-height: 28px;
        color: #fff;
      }
    }
  }
  .form-footer {
    margin-top: 1rem;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      @include rtl-left(calc(50% - 67px));
      width: 31px;
      height: 15px;
      background: url(../img/icon/message.png) no-repeat center center;
    }
    .btn {
      width: 100%;
      @include gradient-horizontal(#21a2fd, #7967fe, 0%, 100%);
      border: none;
      @include rtl-padding(13px, 12px, 13px , 52px);
      @include border-radius(22px);
      color: #fff;
      &:hover {
        @include gradient-horizontal(#21a2fd, #7967fe, 0%, 100%);
        border: none;
      }
    }
  }

}
.google-map { position: relative; }
#nov-map-contact {
  min-height: 379px;
  margin-bottom: 40px;
}
.map-locker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}
.icon-comment {
  @include square(60px);
  background: url(../img/icon/icon-comment.png) no-repeat;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 25px;
}
