$rtl-left : left;
$rtl-right : right;
//------- Variables

@import "variables";
$image-path:                   "images/";
$font-family-path:             "../font/";
$image-theme-base-path:        "../img/";
$image-theme-path:             "../img/icon/";
$image-base-path:              "../../../img/";
$image-skin-path:              "../../img/icon/";
$image-module-path:            "../../../img/icon/";
$module-path:                  "../../../modules/";
$screen-xs-min: 575px;
$screen-xs-max : 767px;
$screen-sm-max : 991px;
$screen-md-max: 1199px;
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-lg-max: 1439px;
$screen-xlg: 1440px;
//---------Color

$gray-darker: #232323;
$gray-dark:   #222222!default;
$gray: #bbbbbb;
$gray-light: #f5f1ee;
$gray-lighter: #a2a2a2;
$brand-primary: #2fb5d2;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$button-hover: #147cda;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$input-border-color: rgba(0, 0, 0, 0.25);
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 1rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;
$nocolor: transparent !default;

$theme-color-default:   #2d9ae8 !default;
$theme-color-primary:   #909090 !default;
$theme-color-custom: 	#e6e6e6 !default;
$text-color-menu:  		#848484!default;
$text-color: 			#666666;
$theme-color-hover: 	$theme-color-default;
//------- FONTS
$font-family-default:   'Roboto', sans-serif;
$font-family-primary:   'Oswald', sans-serif;
$font-icon: 			'FontAwesome';
$font-icons: 			'Material-Design-Iconic-Font';


//-------- BORDERS
$base-border-color:		            #ececec !default;
$main_border:						#e7e7e7;
$dark-border-color:					#d5d5d5!default;
$light-border-color:				#fff;
$homepage-footer-border:            #e7e7e7;
$border-header:						#eeeeee!default;

//--------- BACKGROUNDS
$body-bg:							#fff;
$bg-hover: 							#838383!default;
$base-box-bg:                       #fbfbfb;
$bg-search: 						#e5e5e5!default;
$table-background:                  $base-box-bg;
$dark-background:                   #333;
$light-background:                  #fff;
$homepage-footer-bg:                #f2f2f2;

//--------- COLORS
$base-body-color:                   $text-color;
$base-text-color:                   $text-color;
$base-title-color:					#202020;
$light-text-color:                  #fff;
$link-color:						#585858;
$link-hover-color:                  $link-hover-color;
$description-color:					$text-color;
	
//--------- Breadcrumb ---------
	$breadcrumb-text-color:       $text-color;;
	$breadcrumb-font-size:        1.2rem;
	$breadcrumb-link-color:       $text-color;
	$breadcrumb-bg:               #f5f5f5!default;
	$breadcrumb-link-hover-color:  $theme-color-default;

//--------- Base Heading
	$base-heading-color:			#666666;
	$base-heading-fontsize:			$font-size-base * 1.2;
	$base-heading-bg:			    transparent;
	$base-headding-padding:         0 0 15px;
	$base-headding-font:         	$font-family-default;
	$base-header-border:            $base-border-color;

//--------- Indents
$base-box-padding:                  14px 18px 13px;
$base-box-indent:                  	0 0 30px 0;

//---------- Product Elements
$product-title: 					$gray-dark;
$product-name-color:                #202020;
$product-subtitle  :				#b6b5b5;
$product-category-name: 			#b4b4b4;
$product-name-hover-color:          $theme-color-default;
$price-color:						$theme-color-default;
$product-price-color:				$theme-color-default;
$product-new-price-color:		    $theme-color-default;
$product-old-price-color:			$base-text-color;
$product-reduced-price:				#f00;
$product-info-margin: 				15px;
$product-button-border:				#dddddd!default;
$product-button-bg:					#878787;
$product-button-bg-hover: 			$gray-dark;
$product-border-color: 				$border-header;
$product-border-hover:				$theme-color-default;


//---------- Buttons
$button-text-color:					$light-text-color;

	//-------------- Grid/List vars
	$GL-text-color:								$base-text-color;
	$GL-title-color:							$base-text-color;
	$GL-icon-color:								$base-text-color;
	$GL-icon-color-hover:						$base-text-color;

	//-------------- Pagination vars
	$pagination-prevnext-color:					#777676;
	$pagination-bgcolor:	               		$base-box-bg;
	$pagination-hover-bg:						#f6f6f6;

//---------- Product Info

//BLOG
$blog-title-color: 					#444444!default;
$blog-color: 						$text-color;
$blog-link-color: 					#ffbe4e;
$blog-info-color:					$theme-color-primary;
$blog-button-color: 				#c4c4c4;
$blog-button-hover:					$gray-dark;

// CATEGORIES
$categories-button-color: 					$blog-button-color;
$categories-button-hover:					$theme-color-default;
$categories-collapsed: 						$theme-color-default;
//------------- BLOCK --------------
	$block-module-margin:             0 0 15px;
	$block-module-heading-border:     none;
	$block-module-heading-bg:         $theme-color-default;
	$block-module-heading-padding:    22px 0;
	$block-module-heading-span-padding:    8px 38px;
	$block-module-heading-margin:     0;
	$block-module-heading-font:       $font-family-default;
	$block-module-heading-color:      #272727;
	$block-module-heading-fontsize:   36px;
	$block-module-border-color:       $base-border-color;
	$block-module-content-bg:         #fff;
	$block-module-content-padding:    15px;

//------------- BOX ---------------------
	$box-bg:                    #fff !default;
	$box-inner-border:          #ddd !default;
	$box-border-radius:         3px !default;
	$box-footer-bg:             #f5f5f5 !default;

	$box-default-text:          $gray-dark !default;
	$box-default-border:        #ddd !default;
	$box-default-heading-bg:    $box-footer-bg;
 /*
  * LAYOUTS VAIRABLES
  */
//  Topbar
	$topbar-bg				: #f9f9f9;
	$topbar-color			: #909090;
	$topbar-border-color	: transparent;
	$topbar-font-size  		: 13px;
	$topbar-font-family     : $font-family-default;
	$topbar-link-color      : #666666;
	$topbar-link-hover-color: $link-hover-color;

//  Header
    $header-bg:                #ff5151;
	$header-color:             #666;
    $header-font-size:         1rem;
    $header-link-color:        #666;
    $header-link-hover-color:  $link-hover-color;

//  Megamenu
	$mainmenu-bg:                   transparent;
	$mainmenu-link-color:           #222;
	$mainmenu-link-hover-color:     $theme-color-default;
	$mainmenu-font-family:			$font-family-primary;
	$mainmenu-font-size:			1.3rem;
	$border-megamenu: 				$border-header;

	$mainsubmenu-bg: 				$white;
	$mainsubmenu-color:             $text-color-menu;
	$mainsubmenu-link-color:        $text-color-menu;
	$mainsubmenu-link-hover-color:  $white;
	$mainsubmenu-font-family:		$font-family-default;
	$mainsubmenu-font-size:			1.3rem;
	$mainsubmenu-title-color:       $theme-color-default;
	$mainsubmenu-title-font-size:   15px;

//  Vertical Menu
	$vertical-menu-bg:                   #fff;
	$vertical-menu-link-color:           #5b5b5b;
	$vertical-menu-link-hover-color:     $theme-color-default;
	$vertical-menu-font-weight:          700;
	$vertical-menu-font-family:			 $font-family-default;
	$vertical-menu-font-size:			 1.3rem;

	$vertical-menu-sub-title-color: 	 #bfbdbd;
	$vertical-submenu-bg: 				 #fff;
	$vertical-submenu-color:             #6a6a6a;
	$vertical-submenu-link-color:        #6a6a6a;
	$vertical-submenu-link-hover-color:  $link-hover-color;
	$vertical-submenu-font-family:		 $font-family-default;
	$vertical-submenu-font-size:		 1.2rem;
	$vertical-submenu-title-color:       #202020;
	$vertical-submenu-title-font-size:   1.3rem;


//slidebar
	$slidebar-bg:                    none;
	$slidebar-color:                 inherit;
	$slidebar-link-color:            $link-color;
	$slidebar-link-hover-color:      $link-hover-color;
	$siderbar-headding-color:        $base-heading-color;

//Bottom
	

// footer position
	$footer-bg:                  #fff;
	$footer-copyright-bg: 		 #f4f4f4;
	$footer-text-color:          $text-color;
	$footer-font-size:			 1.2rem;
	$footer-link-color:          $gray-lighter;
	$footer-link-hover-color:    $theme-color-default;
	$footer-padding:             0;
	$footer-margin:              0;
	$footer-bg-inner:			 #efefef;
	$footer-color-address:	     $blog-title-color;

	$footer-heading-font-size:   1.4rem;
	$footer-heading-color:       #232323;

// Copyright
$copyright-bg              : #0f0f0f;
$copyright-text-color      : $text-color;
$copyright-link-color      : $theme-color-default;
$copyright-link-color-hover: $theme-color-primary;
$copyright-padding         : 29px 0 34px 0;
$copyright-margin          : 0;
$border-footer			   : $border-header;	